# `migration.sql`

```sql
/*
NAME:
migration.sql

EXTENSION:
.sql

PURPOSE:
This is a generated SQL migration file containing the database schema changes
from the project's Alembic migrations. It was present in my directory while
testing the application.

PATH:
SIH26044---Assess-Upskill-Connect-Get-Hired-Grow/backend/migration.sql

CONSEQUENCE:
If this file is missing and the required migrations have not otherwise been
applied to the testing database, database-related tests may fail due to
missing tables, columns, or schema/version mismatches.

This file was available in my testing environment, so keep this difference in
mind when comparing test results across team members.
*/
```


BEGIN;

CREATE TABLE alembic_version (
    version_num VARCHAR(32) NOT NULL, 
    CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num)
);

-- Running upgrade  -> 0001_initial

CREATE TABLE users (
    id UUID NOT NULL, 
    email VARCHAR(255) NOT NULL, 
    password_hash VARCHAR(255) NOT NULL, 
    role VARCHAR(40) DEFAULT 'STUDENT' NOT NULL, 
    is_active BOOLEAN DEFAULT true NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    UNIQUE (email)
);

CREATE TABLE skills (
    id SERIAL NOT NULL, 
    name VARCHAR(150) NOT NULL, 
    normalized_name VARCHAR(150) NOT NULL, 
    skill_type VARCHAR(20) DEFAULT 'TECHNICAL', 
    category VARCHAR(100), 
    is_active BOOLEAN DEFAULT true, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    UNIQUE (name), 
    UNIQUE (normalized_name)
);

CREATE TABLE career_roles (
    id SERIAL NOT NULL, 
    name VARCHAR(200) NOT NULL, 
    normalized_name VARCHAR(200) NOT NULL, 
    category VARCHAR(100), 
    is_active BOOLEAN DEFAULT true, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    UNIQUE (name), 
    UNIQUE (normalized_name)
);

CREATE TABLE student_profiles (
    user_id UUID NOT NULL, 
    first_name VARCHAR(100), 
    last_name VARCHAR(100), 
    phone VARCHAR(50), 
    summary TEXT, 
    department VARCHAR(150), 
    degree VARCHAR(150), 
    institution_name VARCHAR(200), 
    graduation_year INTEGER, 
    cgpa NUMERIC(4, 2), 
    city VARCHAR(100), 
    state VARCHAR(100), 
    linkedin_url VARCHAR(500), 
    github_url VARCHAR(500), 
    portfolio_url VARCHAR(500), 
    resume_file_url VARCHAR(500), 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (user_id), 
    FOREIGN KEY(user_id) REFERENCES users (id) ON DELETE CASCADE
);

CREATE TABLE student_projects (
    id UUID NOT NULL, 
    student_id UUID NOT NULL, 
    title VARCHAR(200) NOT NULL, 
    description TEXT, 
    technologies JSON, 
    project_url VARCHAR(500), 
    start_date DATE, 
    end_date DATE, 
    status VARCHAR(20) DEFAULT 'IN_PROGRESS', 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    FOREIGN KEY(student_id) REFERENCES users (id) ON DELETE CASCADE
);

CREATE TABLE student_certifications (
    id UUID NOT NULL, 
    student_id UUID NOT NULL, 
    name VARCHAR(200) NOT NULL, 
    issuer VARCHAR(200), 
    issue_date DATE, 
    expiry_date DATE, 
    credential_url VARCHAR(500), 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    FOREIGN KEY(student_id) REFERENCES users (id) ON DELETE CASCADE
);

CREATE TABLE student_achievements (
    id UUID NOT NULL, 
    student_id UUID NOT NULL, 
    title VARCHAR(200) NOT NULL, 
    description TEXT, 
    achievement_date DATE, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    FOREIGN KEY(student_id) REFERENCES users (id) ON DELETE CASCADE
);

CREATE TABLE student_internships (
    id UUID NOT NULL, 
    student_id UUID NOT NULL, 
    company_name VARCHAR(200) NOT NULL, 
    role VARCHAR(200) NOT NULL, 
    description TEXT, 
    start_date DATE, 
    end_date DATE, 
    status VARCHAR(20) DEFAULT 'ONGOING', 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    FOREIGN KEY(student_id) REFERENCES users (id) ON DELETE CASCADE
);

CREATE TABLE student_skills (
    id UUID NOT NULL, 
    student_id UUID NOT NULL, 
    skill_id INTEGER NOT NULL, 
    proficiency_level VARCHAR(20) DEFAULT 'BEGINNER', 
    score INTEGER, 
    source VARCHAR(20) DEFAULT 'SELF', 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    UNIQUE (student_id, skill_id), 
    FOREIGN KEY(student_id) REFERENCES users (id) ON DELETE CASCADE, 
    FOREIGN KEY(skill_id) REFERENCES skills (id)
);

CREATE TABLE student_preferred_roles (
    id UUID NOT NULL, 
    student_id UUID NOT NULL, 
    career_role_id INTEGER NOT NULL, 
    is_primary BOOLEAN DEFAULT false, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    UNIQUE (student_id, career_role_id), 
    FOREIGN KEY(student_id) REFERENCES users (id) ON DELETE CASCADE, 
    FOREIGN KEY(career_role_id) REFERENCES career_roles (id)
);

CREATE TABLE student_documents (
    id UUID NOT NULL, 
    student_id UUID NOT NULL, 
    document_type VARCHAR(20) DEFAULT 'RESUME', 
    file_name VARCHAR(255) NOT NULL, 
    file_data BYTEA, 
    file_size INTEGER NOT NULL, 
    mime_type VARCHAR(100), 
    is_active BOOLEAN DEFAULT true, 
    uploaded_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    FOREIGN KEY(student_id) REFERENCES users (id) ON DELETE CASCADE
);

INSERT INTO alembic_version (version_num) VALUES ('0001_initial') RETURNING alembic_version.version_num;

-- Running upgrade 0001_initial -> 0002_phase_21_23_and_db_files

ALTER TABLE student_documents ADD COLUMN IF NOT EXISTS file_data BYTEA;

ALTER TABLE student_documents DROP COLUMN IF EXISTS file_path;

CREATE TABLE employment_outcomes (
    id UUID NOT NULL, 
    student_id UUID NOT NULL, 
    status VARCHAR(20) NOT NULL, 
    company_name VARCHAR(200), 
    job_title VARCHAR(200), 
    employment_type VARCHAR(50), 
    joined_on DATE, 
    ended_on DATE, 
    salary NUMERIC(12, 2), 
    notes TEXT, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    CHECK (status IN ('SEEKING','EMPLOYED','LEFT_JOB','NOT_LOOKING')), 
    FOREIGN KEY(student_id) REFERENCES users (id) ON DELETE CASCADE
);

CREATE INDEX ix_employment_outcomes_student_id ON employment_outcomes (student_id);

CREATE TABLE ai_executions (
    id UUID NOT NULL, 
    user_id UUID, 
    feature VARCHAR(80) NOT NULL, 
    provider VARCHAR(80), 
    model_name VARCHAR(120), 
    status VARCHAR(20) NOT NULL, 
    input_data JSON, 
    output_data JSON, 
    error_message TEXT, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    completed_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id), 
    CHECK (status IN ('PENDING','COMPLETED','FAILED')), 
    FOREIGN KEY(user_id) REFERENCES users (id) ON DELETE SET NULL
);

CREATE INDEX ix_ai_executions_user_id ON ai_executions (user_id);

CREATE INDEX ix_ai_executions_feature ON ai_executions (feature);

CREATE TABLE recommendations (
    id UUID NOT NULL, 
    student_id UUID NOT NULL, 
    recommendation_type VARCHAR(20) NOT NULL, 
    title VARCHAR(255) NOT NULL, 
    reason TEXT, 
    priority INTEGER NOT NULL, 
    source VARCHAR(80) NOT NULL, 
    status VARCHAR(20) NOT NULL, 
    context JSON, 
    expires_at TIMESTAMP WITH TIME ZONE, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    CHECK (recommendation_type IN ('CAREER','LEARNING','PROJECT','INTERNSHIP','JOB')), 
    CHECK (status IN ('ACTIVE','DISMISSED','COMPLETED','EXPIRED')), 
    FOREIGN KEY(student_id) REFERENCES users (id) ON DELETE CASCADE
);

CREATE INDEX ix_recommendations_student_id ON recommendations (student_id);

UPDATE alembic_version SET version_num='0002_phase_21_23_and_db_files' WHERE alembic_version.version_num = '0001_initial';

-- Running upgrade 0002_phase_21_23_and_db_files -> 0003_organizations_memberships

CREATE TABLE organizations (
    id UUID NOT NULL, 
    name VARCHAR(255) NOT NULL, 
    organization_type VARCHAR(20) NOT NULL, 
    slug VARCHAR(255) NOT NULL, 
    is_active BOOLEAN DEFAULT true NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    CONSTRAINT ck_organization_type CHECK (organization_type IN ('INSTITUTION','INDUSTRY')), 
    UNIQUE (slug)
);

CREATE UNIQUE INDEX ix_organizations_slug ON organizations (slug);

CREATE TABLE organization_memberships (
    id UUID NOT NULL, 
    user_id UUID NOT NULL, 
    organization_id UUID NOT NULL, 
    role VARCHAR(40) NOT NULL, 
    status VARCHAR(20) DEFAULT 'ACTIVE' NOT NULL, 
    is_primary BOOLEAN DEFAULT false NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    CONSTRAINT uq_membership_user_org_role UNIQUE (user_id, organization_id, role), 
    FOREIGN KEY(user_id) REFERENCES users (id) ON DELETE CASCADE, 
    FOREIGN KEY(organization_id) REFERENCES organizations (id) ON DELETE CASCADE
);

CREATE INDEX ix_memberships_user_id ON organization_memberships (user_id);

CREATE INDEX ix_memberships_organization_id ON organization_memberships (organization_id);

UPDATE alembic_version SET version_num='0003_organizations_memberships' WHERE alembic_version.version_num = '0002_phase_21_23_and_db_files';

-- Running upgrade 0003_organizations_memberships -> 0004_assessments

CREATE TABLE assessments (
    id UUID NOT NULL, 
    title VARCHAR(255) NOT NULL, 
    description TEXT, 
    category VARCHAR(40) NOT NULL, 
    target_role VARCHAR(100), 
    target_skills VARCHAR[] NOT NULL, 
    duration_minutes INTEGER NOT NULL, 
    total_marks INTEGER NOT NULL, 
    passing_marks INTEGER NOT NULL, 
    is_proctored BOOLEAN NOT NULL, 
    created_by UUID, 
    created_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(created_by) REFERENCES users (id)
);

CREATE TABLE questions (
    id UUID NOT NULL, 
    assessment_id UUID NOT NULL, 
    q_type VARCHAR(40) NOT NULL, 
    difficulty VARCHAR(20) NOT NULL, 
    skill_tag VARCHAR(100) NOT NULL, 
    prompt TEXT NOT NULL, 
    options JSONB, 
    correct_answers JSONB NOT NULL, 
    explanation TEXT, 
    marks INTEGER, 
    negative_marks NUMERIC(3, 2), 
    PRIMARY KEY (id), 
    FOREIGN KEY(assessment_id) REFERENCES assessments (id) ON DELETE CASCADE
);

CREATE TABLE assessment_attempts (
    id UUID NOT NULL, 
    assessment_id UUID NOT NULL, 
    student_id UUID NOT NULL, 
    status VARCHAR(30), 
    started_at TIMESTAMP WITH TIME ZONE, 
    submitted_at TIMESTAMP WITH TIME ZONE, 
    score_obtained NUMERIC(5, 2), 
    percentage NUMERIC(5, 2), 
    passed BOOLEAN, 
    skill_breakdown JSONB, 
    tab_switches_count INTEGER, 
    PRIMARY KEY (id), 
    FOREIGN KEY(assessment_id) REFERENCES assessments (id) ON DELETE CASCADE, 
    FOREIGN KEY(student_id) REFERENCES users (id) ON DELETE CASCADE
);

CREATE TABLE assessment_responses (
    id UUID NOT NULL, 
    attempt_id UUID NOT NULL, 
    question_id UUID NOT NULL, 
    selected_options JSONB, 
    submitted_code TEXT, 
    programming_language VARCHAR(50), 
    is_correct BOOLEAN, 
    marks_awarded NUMERIC(5, 2), 
    time_spent_seconds INTEGER, 
    PRIMARY KEY (id), 
    FOREIGN KEY(attempt_id) REFERENCES assessment_attempts (id) ON DELETE CASCADE, 
    FOREIGN KEY(question_id) REFERENCES questions (id) ON DELETE CASCADE
);

UPDATE alembic_version SET version_num='0004_assessments' WHERE alembic_version.version_num = '0003_organizations_memberships';

-- Running upgrade 0004_assessments -> 0005_interviews_and_outcomes

CREATE TABLE interview_sessions (
    id UUID NOT NULL, 
    student_id UUID, 
    interview_type VARCHAR(40), 
    target_role VARCHAR(100), 
    target_company VARCHAR(100), 
    difficulty VARCHAR(20), 
    status VARCHAR(30), 
    started_at TIMESTAMP WITH TIME ZONE, 
    ended_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(student_id) REFERENCES users (id) ON DELETE CASCADE
);

CREATE TABLE interview_turns (
    id UUID NOT NULL, 
    session_id UUID, 
    turn_number INTEGER, 
    ai_question TEXT, 
    expected_competency VARCHAR(100), 
    student_audio_url VARCHAR(500), 
    student_transcript TEXT, 
    code_snippet TEXT, 
    created_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(session_id) REFERENCES interview_sessions (id) ON DELETE CASCADE
);

CREATE TABLE interview_evaluations (
    id UUID NOT NULL, 
    session_id UUID, 
    technical_score INTEGER, 
    communication_score INTEGER, 
    problem_solving_score INTEGER, 
    behavioral_score INTEGER, 
    overall_score INTEGER, 
    strengths TEXT[], 
    areas_for_improvement TEXT[], 
    detailed_feedback TEXT, 
    star_method_compliance VARCHAR(50), 
    readiness_status VARCHAR(50), 
    created_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id), 
    UNIQUE (session_id), 
    FOREIGN KEY(session_id) REFERENCES interview_sessions (id) ON DELETE CASCADE
);

UPDATE alembic_version SET version_num='0005_interviews_and_outcomes' WHERE alembic_version.version_num = '0004_assessments';

-- Running upgrade 0005_interviews_and_outcomes -> 0006_mentor_assignments

CREATE TABLE mentor_assignments (
    id UUID NOT NULL, 
    mentor_id UUID NOT NULL, 
    student_id UUID NOT NULL, 
    organization_id UUID, 
    status VARCHAR(20) NOT NULL, 
    focus_area VARCHAR(120), 
    notes TEXT, 
    created_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(mentor_id) REFERENCES users (id) ON DELETE CASCADE, 
    FOREIGN KEY(student_id) REFERENCES users (id) ON DELETE CASCADE, 
    FOREIGN KEY(organization_id) REFERENCES organizations (id) ON DELETE SET NULL
);

UPDATE alembic_version SET version_num='0006_mentor_assignments' WHERE alembic_version.version_num = '0005_interviews_and_outcomes';

-- Running upgrade 0006_mentor_assignments -> 0007_feature_tables

CREATE TABLE IF NOT EXISTS learning_resources (id UUID PRIMARY KEY, organization_id UUID REFERENCES organizations(id) ON DELETE SET NULL, title VARCHAR NOT NULL, type VARCHAR NOT NULL, provider VARCHAR, description TEXT, skills_covered VARCHAR[], target_level VARCHAR, duration_hours INTEGER, url VARCHAR, thumbnail_url VARCHAR, industry_relevant BOOLEAN DEFAULT TRUE, is_free BOOLEAN DEFAULT FALSE, completion_rate FLOAT DEFAULT 0, avg_assessment_score FLOAT DEFAULT 0, placement_outcome_rate FLOAT DEFAULT 0, created_at TIMESTAMPTZ DEFAULT now(), updated_at TIMESTAMPTZ);

CREATE TABLE IF NOT EXISTS student_learning_plans (id UUID PRIMARY KEY, organization_id UUID REFERENCES organizations(id) ON DELETE SET NULL, student_id UUID NOT NULL, target_role VARCHAR NOT NULL, status VARCHAR DEFAULT 'active', created_at TIMESTAMPTZ DEFAULT now(), updated_at TIMESTAMPTZ);

CREATE TABLE IF NOT EXISTS learning_plan_items (id UUID PRIMARY KEY, plan_id UUID NOT NULL, resource_id UUID NOT NULL, skill_gap_addressed VARCHAR, priority INTEGER DEFAULT 1, status VARCHAR DEFAULT 'not_started', progress_percent INTEGER DEFAULT 0, started_at TIMESTAMPTZ, completed_at TIMESTAMPTZ);

CREATE TABLE IF NOT EXISTS learning_certifications (id UUID PRIMARY KEY, student_id UUID NOT NULL, resource_id UUID, certification_name VARCHAR NOT NULL, issuer VARCHAR, issued_date TIMESTAMPTZ, expiry_date TIMESTAMPTZ, credential_url VARCHAR, certificate_file_url VARCHAR, verified BOOLEAN DEFAULT FALSE, created_at TIMESTAMPTZ DEFAULT now());

CREATE TABLE IF NOT EXISTS learning_outcomes (id UUID PRIMARY KEY, resource_id UUID NOT NULL, target_role VARCHAR NOT NULL, completion_count INTEGER DEFAULT 0, placement_count INTEGER DEFAULT 0, avg_time_to_placement_days INTEGER, updated_at TIMESTAMPTZ);

CREATE TABLE IF NOT EXISTS internship_postings (id UUID PRIMARY KEY, company_id UUID NOT NULL, organization_id UUID REFERENCES organizations(id) ON DELETE SET NULL, company_name VARCHAR NOT NULL, title VARCHAR NOT NULL, type VARCHAR NOT NULL, description TEXT, location VARCHAR, is_remote BOOLEAN DEFAULT FALSE, duration_weeks INTEGER, stipend_monthly INTEGER, required_skills VARCHAR[], required_education VARCHAR, required_cgpa FLOAT DEFAULT 0, required_year INTEGER[], required_certifications VARCHAR[], seats_available INTEGER DEFAULT 1, application_deadline DATE, start_date DATE, status VARCHAR DEFAULT 'open', posted_at TIMESTAMPTZ DEFAULT now(), updated_at TIMESTAMPTZ);

CREATE TABLE IF NOT EXISTS academician_opportunities (id UUID PRIMARY KEY, company_id UUID, organization_id UUID REFERENCES organizations(id) ON DELETE SET NULL, company_name VARCHAR, type VARCHAR NOT NULL, title VARCHAR NOT NULL, description TEXT, duration VARCHAR, stipend_or_honorarium INTEGER, domain VARCHAR[], eligibility TEXT, application_deadline DATE, status VARCHAR DEFAULT 'open', posted_at TIMESTAMPTZ DEFAULT now());

CREATE TABLE IF NOT EXISTS internship_applications (id UUID PRIMARY KEY, organization_id UUID REFERENCES organizations(id) ON DELETE SET NULL, student_id UUID NOT NULL, internship_id UUID NOT NULL, status VARCHAR DEFAULT 'applied', skill_match_percent INTEGER DEFAULT 0, cover_letter TEXT, applied_at TIMESTAMPTZ DEFAULT now(), updated_at TIMESTAMPTZ, company_notes TEXT);

CREATE TABLE IF NOT EXISTS internship_progress (id UUID PRIMARY KEY, application_id UUID NOT NULL UNIQUE, mentor_name VARCHAR, mentor_email VARCHAR, start_date DATE, end_date DATE, tasks_assigned JSON, milestones_completed INTEGER DEFAULT 0, total_milestones INTEGER DEFAULT 0, mentor_feedback TEXT, final_rating FLOAT, completion_certificate_url VARCHAR, status VARCHAR DEFAULT 'ongoing', updated_at TIMESTAMPTZ);

CREATE TABLE IF NOT EXISTS internship_mentor_feedback (id UUID PRIMARY KEY, progress_id UUID NOT NULL, week_number INTEGER NOT NULL, technical_rating INTEGER, communication_rating INTEGER, initiative_rating INTEGER, overall_rating INTEGER, comments TEXT, submitted_at TIMESTAMPTZ DEFAULT now());

CREATE TABLE IF NOT EXISTS audit_logs (id UUID PRIMARY KEY, user_id UUID REFERENCES users(id) ON DELETE SET NULL, action VARCHAR(100) NOT NULL, entity VARCHAR(100), entity_id VARCHAR(100), details JSON, ip VARCHAR(50), created_at TIMESTAMPTZ DEFAULT now());

CREATE TABLE IF NOT EXISTS student_documents (id UUID PRIMARY KEY, student_id UUID NOT NULL REFERENCES users(id) ON DELETE CASCADE, document_type VARCHAR(20) DEFAULT 'RESUME', file_name VARCHAR(255) NOT NULL, file_data BYTEA, file_size INTEGER NOT NULL, mime_type VARCHAR(100), is_active BOOLEAN DEFAULT TRUE, uploaded_at TIMESTAMPTZ DEFAULT now());

CREATE INDEX IF NOT EXISTS ix_learning_resources_organization_id ON learning_resources (organization_id);

CREATE INDEX IF NOT EXISTS ix_student_learning_plans_student_id ON student_learning_plans (student_id);

CREATE INDEX IF NOT EXISTS ix_learning_plan_items_plan_id ON learning_plan_items (plan_id);

CREATE INDEX IF NOT EXISTS ix_learning_certifications_student_id ON learning_certifications (student_id);

CREATE INDEX IF NOT EXISTS ix_learning_outcomes_resource_id ON learning_outcomes (resource_id);

CREATE INDEX IF NOT EXISTS ix_internship_postings_company_id ON internship_postings (company_id);

CREATE INDEX IF NOT EXISTS ix_academician_opportunities_company_id ON academician_opportunities (company_id);

CREATE INDEX IF NOT EXISTS ix_internship_applications_student_id ON internship_applications (student_id);

CREATE INDEX IF NOT EXISTS ix_internship_applications_internship_id ON internship_applications (internship_id);

CREATE INDEX IF NOT EXISTS ix_internship_progress_application_id ON internship_progress (application_id);

CREATE INDEX IF NOT EXISTS ix_internship_mentor_feedback_progress_id ON internship_mentor_feedback (progress_id);

UPDATE alembic_version SET version_num='0007_feature_tables' WHERE alembic_version.version_num = '0006_mentor_assignments';

-- Running upgrade 0007_feature_tables -> 0008_opportunity_org_scope

ALTER TABLE internship_postings ADD COLUMN IF NOT EXISTS organization_id UUID REFERENCES organizations(id) ON DELETE SET NULL;

CREATE INDEX IF NOT EXISTS ix_internship_postings_organization_id ON internship_postings (organization_id);

ALTER TABLE academician_opportunities ADD COLUMN IF NOT EXISTS organization_id UUID REFERENCES organizations(id) ON DELETE SET NULL;

CREATE INDEX IF NOT EXISTS ix_academician_opportunities_organization_id ON academician_opportunities (organization_id);

UPDATE alembic_version SET version_num='0008_opportunity_org_scope' WHERE alembic_version.version_num = '0007_feature_tables';

-- Running upgrade 0008_opportunity_org_scope -> 0009_notifications

CREATE TABLE notifications (
    id UUID NOT NULL, 
    user_id UUID NOT NULL, 
    title VARCHAR(200) NOT NULL, 
    message TEXT NOT NULL, 
    kind VARCHAR(40) NOT NULL, 
    is_read BOOLEAN NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(user_id) REFERENCES users (id) ON DELETE CASCADE
);

CREATE INDEX ix_notifications_user_id ON notifications (user_id);

UPDATE alembic_version SET version_num='0009_notifications' WHERE alembic_version.version_num = '0008_opportunity_org_scope';

-- Running upgrade 0009_notifications -> 0010_org_scope_backfill

ALTER TABLE learning_resources ADD COLUMN IF NOT EXISTS organization_id UUID REFERENCES organizations(id) ON DELETE SET NULL;

CREATE INDEX IF NOT EXISTS ix_learning_resources_organization_id ON learning_resources (organization_id);

ALTER TABLE student_learning_plans ADD COLUMN IF NOT EXISTS organization_id UUID REFERENCES organizations(id) ON DELETE SET NULL;

CREATE INDEX IF NOT EXISTS ix_student_learning_plans_organization_id ON student_learning_plans (organization_id);

ALTER TABLE assessments ADD COLUMN IF NOT EXISTS organization_id UUID REFERENCES organizations(id) ON DELETE SET NULL;

CREATE INDEX IF NOT EXISTS ix_assessments_organization_id ON assessments (organization_id);

ALTER TABLE interview_sessions ADD COLUMN IF NOT EXISTS organization_id UUID REFERENCES organizations(id) ON DELETE SET NULL;

CREATE INDEX IF NOT EXISTS ix_interview_sessions_organization_id ON interview_sessions (organization_id);

ALTER TABLE internship_applications ADD COLUMN IF NOT EXISTS organization_id UUID REFERENCES organizations(id) ON DELETE SET NULL;

CREATE INDEX IF NOT EXISTS ix_internship_applications_organization_id ON internship_applications (organization_id);

ALTER TABLE employment_outcomes ADD COLUMN IF NOT EXISTS organization_id UUID REFERENCES organizations(id) ON DELETE SET NULL;

CREATE INDEX IF NOT EXISTS ix_employment_outcomes_organization_id ON employment_outcomes (organization_id);

UPDATE users SET role='INDUSTRY_ADMIN' WHERE role='INDUSTRY';

UPDATE users SET role='INSTITUTION_ADMIN' WHERE role='INSTITUTION';

UPDATE users SET role='FACULTY' WHERE role='ACADEMICIAN';

UPDATE internship_postings AS opportunity
                    SET organization_id = (
                        SELECT membership.organization_id
                        FROM organization_memberships AS membership
                        WHERE membership.user_id = opportunity.company_id
                          AND membership.status = 'ACTIVE'
                        ORDER BY membership.is_primary DESC, membership.created_at ASC
                        LIMIT 1
                    )
                    WHERE opportunity.organization_id IS NULL;

UPDATE academician_opportunities AS opportunity
                    SET organization_id = (
                        SELECT membership.organization_id
                        FROM organization_memberships AS membership
                        WHERE membership.user_id = opportunity.company_id
                          AND membership.status = 'ACTIVE'
                        ORDER BY membership.is_primary DESC, membership.created_at ASC
                        LIMIT 1
                    )
                    WHERE opportunity.organization_id IS NULL;

UPDATE internship_applications AS application SET organization_id = posting.organization_id FROM internship_postings AS posting WHERE application.internship_id = posting.id AND application.organization_id IS NULL;

UPDATE alembic_version SET version_num='0010_org_scope_backfill' WHERE alembic_version.version_num = '0009_notifications';

-- Running upgrade 0010_org_scope_backfill -> 0011_notification_delivery

ALTER TABLE notifications ADD COLUMN delivery_status VARCHAR(20) DEFAULT 'PENDING' NOT NULL;

ALTER TABLE notifications ADD COLUMN delivery_attempts INTEGER DEFAULT '0' NOT NULL;

ALTER TABLE notifications ADD COLUMN delivered_at TIMESTAMP WITH TIME ZONE;

ALTER TABLE notifications ADD COLUMN last_delivery_error TEXT;

CREATE INDEX ix_notifications_delivery_status ON notifications (delivery_status);

UPDATE alembic_version SET version_num='0011_notification_delivery' WHERE alembic_version.version_num = '0010_org_scope_backfill';

COMMIT;

